body {
  min-height: 100vh;
  
  /* overflow: hidden; */
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 90%;
  pointer-events: none;
  transform: rotate(-45deg);
  filter: brightness(5) contrast(1) sepia(10) grayscale(35);
}



.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.13em;
  --top-offset: 51.76vh;
  --fall-duration: 6.442s;
  --fall-delay: 3.733s;
}
.star:nth-child(2) {
  --star-tail-length: 6.51em;
  --top-offset: 19.58vh;
  --fall-duration: 6.33s;
  --fall-delay: 9.301s;
}
.star:nth-child(3) {
  --star-tail-length: 5.67em;
  --top-offset: 82.5vh;
  --fall-duration: 7.49s;
  --fall-delay: 0.991s;
}
.star:nth-child(4) {
  --star-tail-length: 7.4em;
  --top-offset: 78.98vh;
  --fall-duration: 7.24s;
  --fall-delay: 3.763s;
}
.star:nth-child(5) {
  --star-tail-length: 6.36em;
  --top-offset: 68.17vh;
  --fall-duration: 11.119s;
  --fall-delay: 4.905s;
}
.star:nth-child(6) {
  --star-tail-length: 5.7em;
  --top-offset: 18.33vh;
  --fall-duration: 9.201s;
  --fall-delay: 4.962s;
}
.star:nth-child(7) {
  --star-tail-length: 5.56em;
  --top-offset: 82.35vh;
  --fall-duration: 9.772s;
  --fall-delay: 0.542s;
}
.star:nth-child(8) {
  --star-tail-length: 6.93em;
  --top-offset: 44.82vh;
  --fall-duration: 11.67s;
  --fall-delay: 8.738s;
}
.star:nth-child(9) {
  --star-tail-length: 7.4em;
  --top-offset: 14.24vh;
  --fall-duration: 10.454s;
  --fall-delay: 3.435s;
}
.star:nth-child(10) {
  --star-tail-length: 6.93em;
  --top-offset: 64.39vh;
  --fall-duration: 10.652s;
  --fall-delay: 0.317s;
}
.star:nth-child(11) {
  --star-tail-length: 6.82em;
  --top-offset: 5.26vh;
  --fall-duration: 10.241s;
  --fall-delay: 9.272s;
}
.star:nth-child(12) {
  --star-tail-length: 7.44em;
  --top-offset: 58.93vh;
  --fall-duration: 7.097s;
  --fall-delay: 7.179s;
}
.star:nth-child(13) {
  --star-tail-length: 5.68em;
  --top-offset: 73.66vh;
  --fall-duration: 8.241s;
  --fall-delay: 6.132s;
}
.star:nth-child(14) {
  --star-tail-length: 6.63em;
  --top-offset: 42.86vh;
  --fall-duration: 11.703s;
  --fall-delay: 0.82s;
}
.star:nth-child(15) {
  --star-tail-length: 6.61em;
  --top-offset: 43.02vh;
  --fall-duration: 9.726s;
  --fall-delay: 5.996s;
}
.star:nth-child(16) {
  --star-tail-length: 7.09em;
  --top-offset: 45.21vh;
  --fall-duration: 6.664s;
  --fall-delay: 4.841s;
}
.star:nth-child(17) {
  --star-tail-length: 5.62em;
  --top-offset: 83.65vh;
  --fall-duration: 10.216s;
  --fall-delay: 2.958s;
}
.star:nth-child(18) {
  --star-tail-length: 7.33em;
  --top-offset: 97.52vh;
  --fall-duration: 7.138s;
  --fall-delay: 8.252s;
}
.star:nth-child(19) {
  --star-tail-length: 7.19em;
  --top-offset: 8.36vh;
  --fall-duration: 6.49s;
  --fall-delay: 9.289s;
}
.star:nth-child(20) {
  --star-tail-length: 6.78em;
  --top-offset: 93.16vh;
  --fall-duration: 8.421s;
  --fall-delay: 5.404s;
}
.star:nth-child(21) {
  --star-tail-length: 7.24em;
  --top-offset: 43.49vh;
  --fall-duration: 10.135s;
  --fall-delay: 4.132s;
}
.star:nth-child(22) {
  --star-tail-length: 6.48em;
  --top-offset: 79.47vh;
  --fall-duration: 10.787s;
  --fall-delay: 3.381s;
}
.star:nth-child(23) {
  --star-tail-length: 5.09em;
  --top-offset: 67.11vh;
  --fall-duration: 10.258s;
  --fall-delay: 1.399s;
}
.star:nth-child(24) {
  --star-tail-length: 6.85em;
  --top-offset: 86.55vh;
  --fall-duration: 7.749s;
  --fall-delay: 2.13s;
}
.star:nth-child(25) {
  --star-tail-length: 5.75em;
  --top-offset: 27.49vh;
  --fall-duration: 7.209s;
  --fall-delay: 7.283s;
}
.star:nth-child(26) {
  --star-tail-length: 7.07em;
  --top-offset: 18.8vh;
  --fall-duration: 11.353s;
  --fall-delay: 9.619s;
}
.star:nth-child(27) {
  --star-tail-length: 7.06em;
  --top-offset: 59.17vh;
  --fall-duration: 6.339s;
  --fall-delay: 1.815s;
}
.star:nth-child(28) {
  --star-tail-length: 6.89em;
  --top-offset: 58.86vh;
  --fall-duration: 10.883s;
  --fall-delay: 9.549s;
}
.star:nth-child(29) {
  --star-tail-length: 5.83em;
  --top-offset: 9.61vh;
  --fall-duration: 7.458s;
  --fall-delay: 7.666s;
}
.star:nth-child(30) {
  --star-tail-length: 5.89em;
  --top-offset: 75.05vh;
  --fall-duration: 7.588s;
  --fall-delay: 9.673s;
}
.star:nth-child(31) {
  --star-tail-length: 5.66em;
  --top-offset: 74.82vh;
  --fall-duration: 11.64s;
  --fall-delay: 1.34s;
}
.star:nth-child(32) {
  --star-tail-length: 6.84em;
  --top-offset: 25.99vh;
  --fall-duration: 10.917s;
  --fall-delay: 1.95s;
}
.star:nth-child(33) {
  --star-tail-length: 7.28em;
  --top-offset: 12.11vh;
  --fall-duration: 9.999s;
  --fall-delay: 9.698s;
}
.star:nth-child(34) {
  --star-tail-length: 6.1em;
  --top-offset: 17.48vh;
  --fall-duration: 9.94s;
  --fall-delay: 3.841s;
}
.star:nth-child(35) {
  --star-tail-length: 6.22em;
  --top-offset: 37.57vh;
  --fall-duration: 11.156s;
  --fall-delay: 4.757s;
}
.star:nth-child(36) {
  --star-tail-length: 5.93em;
  --top-offset: 83.01vh;
  --fall-duration: 7.401s;
  --fall-delay: 1.311s;
}
.star:nth-child(37) {
  --star-tail-length: 7.47em;
  --top-offset: 89.63vh;
  --fall-duration: 9.21s;
  --fall-delay: 8.702s;
}
.star:nth-child(38) {
  --star-tail-length: 7.25em;
  --top-offset: 90.85vh;
  --fall-duration: 8.72s;
  --fall-delay: 5.763s;
}
.star:nth-child(39) {
  --star-tail-length: 7.23em;
  --top-offset: 2.68vh;
  --fall-duration: 8.038s;
  --fall-delay: 2.625s;
}
.star:nth-child(40) {
  --star-tail-length: 7.2em;
  --top-offset: 82.16vh;
  --fall-duration: 9.208s;
  --fall-delay: 6.241s;
}
.star:nth-child(41) {
  --star-tail-length: 5.49em;
  --top-offset: 12.56vh;
  --fall-duration: 8.537s;
  --fall-delay: 3.293s;
}
.star:nth-child(42) {
  --star-tail-length: 7.09em;
  --top-offset: 57.88vh;
  --fall-duration: 9.25s;
  --fall-delay: 4.535s;
}
.star:nth-child(43) {
  --star-tail-length: 7.37em;
  --top-offset: 63.51vh;
  --fall-duration: 7.396s;
  --fall-delay: 7.418s;
}
.star:nth-child(44) {
  --star-tail-length: 5.66em;
  --top-offset: 57.75vh;
  --fall-duration: 7.855s;
  --fall-delay: 5.214s;
}
.star:nth-child(45) {
  --star-tail-length: 5.73em;
  --top-offset: 94.03vh;
  --fall-duration: 6.462s;
  --fall-delay: 0.88s;
}
.star:nth-child(46) {
  --star-tail-length: 6.5em;
  --top-offset: 2.99vh;
  --fall-duration: 11.176s;
  --fall-delay: 4.987s;
}
.star:nth-child(47) {
  --star-tail-length: 5.87em;
  --top-offset: 25.78vh;
  --fall-duration: 6.322s;
  --fall-delay: 0.72s;
}
.star:nth-child(48) {
  --star-tail-length: 5.46em;
  --top-offset: 96.6vh;
  --fall-duration: 6.855s;
  --fall-delay: 3.238s;
}
.star:nth-child(49) {
  --star-tail-length: 5.05em;
  --top-offset: 96.7vh;
  --fall-duration: 9.945s;
  --fall-delay: 6.774s;
}
.star:nth-child(50) {
  --star-tail-length: 7.05em;
  --top-offset: 40.65vh;
  --fall-duration: 11.911s;
  --fall-delay: 4.941s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=superstyle.css.map */