body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  filter: brightness(5) contrast(1) sepia(10) grayscale(35);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.05em;
  --top-offset: 12.18vh;
  --fall-duration: 8.007s;
  --fall-delay: 7.177s;
}
.star:nth-child(2) {
  --star-tail-length: 7.09em;
  --top-offset: 88.76vh;
  --fall-duration: 11.751s;
  --fall-delay: 4.933s;
}
.star:nth-child(3) {
  --star-tail-length: 5.32em;
  --top-offset: 89.86vh;
  --fall-duration: 7.612s;
  --fall-delay: 4.644s;
}
.star:nth-child(4) {
  --star-tail-length: 5.48em;
  --top-offset: 26.85vh;
  --fall-duration: 11.427s;
  --fall-delay: 9.562s;
}
.star:nth-child(5) {
  --star-tail-length: 5.39em;
  --top-offset: 12.81vh;
  --fall-duration: 6.161s;
  --fall-delay: 6.463s;
}
.star:nth-child(6) {
  --star-tail-length: 6.6em;
  --top-offset: 21.2vh;
  --fall-duration: 7.201s;
  --fall-delay: 8.743s;
}
.star:nth-child(7) {
  --star-tail-length: 6.69em;
  --top-offset: 7.59vh;
  --fall-duration: 6.925s;
  --fall-delay: 3.481s;
}
.star:nth-child(8) {
  --star-tail-length: 6.55em;
  --top-offset: 85.13vh;
  --fall-duration: 9.119s;
  --fall-delay: 1.205s;
}
.star:nth-child(9) {
  --star-tail-length: 5.22em;
  --top-offset: 92.89vh;
  --fall-duration: 11.229s;
  --fall-delay: 9.418s;
}
.star:nth-child(10) {
  --star-tail-length: 6.37em;
  --top-offset: 4.44vh;
  --fall-duration: 6.049s;
  --fall-delay: 6.539s;
}
.star:nth-child(11) {
  --star-tail-length: 6.32em;
  --top-offset: 87.7vh;
  --fall-duration: 8.845s;
  --fall-delay: 2.54s;
}
.star:nth-child(12) {
  --star-tail-length: 5.11em;
  --top-offset: 21.38vh;
  --fall-duration: 8.108s;
  --fall-delay: 9.532s;
}
.star:nth-child(13) {
  --star-tail-length: 5.21em;
  --top-offset: 5.21vh;
  --fall-duration: 7.375s;
  --fall-delay: 8.76s;
}
.star:nth-child(14) {
  --star-tail-length: 6.5em;
  --top-offset: 85.67vh;
  --fall-duration: 9.507s;
  --fall-delay: 5.352s;
}
.star:nth-child(15) {
  --star-tail-length: 6.04em;
  --top-offset: 33.49vh;
  --fall-duration: 8.289s;
  --fall-delay: 8.193s;
}
.star:nth-child(16) {
  --star-tail-length: 6.98em;
  --top-offset: 83.56vh;
  --fall-duration: 10.49s;
  --fall-delay: 4.162s;
}
.star:nth-child(17) {
  --star-tail-length: 7.4em;
  --top-offset: 4.59vh;
  --fall-duration: 6.103s;
  --fall-delay: 0.112s;
}
.star:nth-child(18) {
  --star-tail-length: 7.07em;
  --top-offset: 61.98vh;
  --fall-duration: 7.531s;
  --fall-delay: 1.28s;
}
.star:nth-child(19) {
  --star-tail-length: 7.36em;
  --top-offset: 51.76vh;
  --fall-duration: 7.67s;
  --fall-delay: 6.919s;
}
.star:nth-child(20) {
  --star-tail-length: 6.83em;
  --top-offset: 35.33vh;
  --fall-duration: 9.824s;
  --fall-delay: 9.084s;
}
.star:nth-child(21) {
  --star-tail-length: 7em;
  --top-offset: 21.85vh;
  --fall-duration: 11.776s;
  --fall-delay: 0.854s;
}
.star:nth-child(22) {
  --star-tail-length: 6.24em;
  --top-offset: 33.39vh;
  --fall-duration: 6.446s;
  --fall-delay: 0.013s;
}
.star:nth-child(23) {
  --star-tail-length: 7.08em;
  --top-offset: 79.15vh;
  --fall-duration: 7.189s;
  --fall-delay: 1.88s;
}
.star:nth-child(24) {
  --star-tail-length: 5.95em;
  --top-offset: 69.46vh;
  --fall-duration: 7.645s;
  --fall-delay: 8.559s;
}
.star:nth-child(25) {
  --star-tail-length: 7.25em;
  --top-offset: 91.38vh;
  --fall-duration: 9.618s;
  --fall-delay: 9.645s;
}
.star:nth-child(26) {
  --star-tail-length: 7.32em;
  --top-offset: 19.37vh;
  --fall-duration: 10.551s;
  --fall-delay: 7.961s;
}
.star:nth-child(27) {
  --star-tail-length: 5.6em;
  --top-offset: 76.47vh;
  --fall-duration: 9.833s;
  --fall-delay: 1.792s;
}
.star:nth-child(28) {
  --star-tail-length: 5.27em;
  --top-offset: 32.09vh;
  --fall-duration: 10.572s;
  --fall-delay: 8.34s;
}
.star:nth-child(29) {
  --star-tail-length: 5.8em;
  --top-offset: 28.23vh;
  --fall-duration: 9.368s;
  --fall-delay: 7.345s;
}
.star:nth-child(30) {
  --star-tail-length: 6.46em;
  --top-offset: 64.55vh;
  --fall-duration: 8.105s;
  --fall-delay: 8.058s;
}
.star:nth-child(31) {
  --star-tail-length: 7.08em;
  --top-offset: 45.62vh;
  --fall-duration: 11.762s;
  --fall-delay: 9.635s;
}
.star:nth-child(32) {
  --star-tail-length: 5.72em;
  --top-offset: 25.29vh;
  --fall-duration: 11.905s;
  --fall-delay: 3.449s;
}
.star:nth-child(33) {
  --star-tail-length: 6.76em;
  --top-offset: 47.26vh;
  --fall-duration: 6.376s;
  --fall-delay: 6.708s;
}
.star:nth-child(34) {
  --star-tail-length: 6.48em;
  --top-offset: 24.87vh;
  --fall-duration: 10.519s;
  --fall-delay: 3.55s;
}
.star:nth-child(35) {
  --star-tail-length: 5.12em;
  --top-offset: 51vh;
  --fall-duration: 7.357s;
  --fall-delay: 7.421s;
}
.star:nth-child(36) {
  --star-tail-length: 5.01em;
  --top-offset: 64.34vh;
  --fall-duration: 8.653s;
  --fall-delay: 5.065s;
}
.star:nth-child(37) {
  --star-tail-length: 6.57em;
  --top-offset: 36.91vh;
  --fall-duration: 6.072s;
  --fall-delay: 8.63s;
}
.star:nth-child(38) {
  --star-tail-length: 6.3em;
  --top-offset: 22.03vh;
  --fall-duration: 6.6s;
  --fall-delay: 4.185s;
}
.star:nth-child(39) {
  --star-tail-length: 6.64em;
  --top-offset: 36.74vh;
  --fall-duration: 10.646s;
  --fall-delay: 9.906s;
}
.star:nth-child(40) {
  --star-tail-length: 6.67em;
  --top-offset: 57.98vh;
  --fall-duration: 10.461s;
  --fall-delay: 7.509s;
}
.star:nth-child(41) {
  --star-tail-length: 5.42em;
  --top-offset: 61.7vh;
  --fall-duration: 10.674s;
  --fall-delay: 8.445s;
}
.star:nth-child(42) {
  --star-tail-length: 5.78em;
  --top-offset: 6.57vh;
  --fall-duration: 9.373s;
  --fall-delay: 1.174s;
}
.star:nth-child(43) {
  --star-tail-length: 5.65em;
  --top-offset: 64.76vh;
  --fall-duration: 10.342s;
  --fall-delay: 4.166s;
}
.star:nth-child(44) {
  --star-tail-length: 5.85em;
  --top-offset: 12.29vh;
  --fall-duration: 10.924s;
  --fall-delay: 0.205s;
}
.star:nth-child(45) {
  --star-tail-length: 6.53em;
  --top-offset: 78.78vh;
  --fall-duration: 9.138s;
  --fall-delay: 4.262s;
}
.star:nth-child(46) {
  --star-tail-length: 6.32em;
  --top-offset: 57.95vh;
  --fall-duration: 9.047s;
  --fall-delay: 4.33s;
}
.star:nth-child(47) {
  --star-tail-length: 6.81em;
  --top-offset: 22.79vh;
  --fall-duration: 8.432s;
  --fall-delay: 9.248s;
}
.star:nth-child(48) {
  --star-tail-length: 5.99em;
  --top-offset: 10.17vh;
  --fall-duration: 8.14s;
  --fall-delay: 0.562s;
}
.star:nth-child(49) {
  --star-tail-length: 6.49em;
  --top-offset: 43.15vh;
  --fall-duration: 11.246s;
  --fall-delay: 5.337s;
}
.star:nth-child(50) {
  --star-tail-length: 6.7em;
  --top-offset: 75.06vh;
  --fall-duration: 10.134s;
  --fall-delay: 7.47s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=superstyle.css.map */